{% extends "blogs/based.html" %}
{% block header %}
  <h1>博客</h1>
{% endblock header %}
{% block content %}
  <h3>
    <a href="{% url 'blogs:new_blog' %}">写博客</a>
  </h3>
  <ul>
    {% for blog in blogpost %}
      <li class"dl-horizontal">
		<h3>
		  <a href="{% url 'blogs:maincontents' blog.id %}" 
		  style="width:5em;display:block;white-space:nowrap;
		  overflow:hidden;text-overflow:ellipsis;">{{ blog }}</a>
		  <small>作者 {{ blog.owner.username }}</small></p> 
		</h3>
      </li>
    {% empty %}
      <li>No blogs!</li>
    {% endfor %}
  </ul>
{% endblock content %}
